:root {
  /* Primary Colors */
  --green-400: hsl(172, 67%, 45%);
  /* Neutral Colors */
  --green-900: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
}

/* CSS Rest */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Space Mono", monospace;
  background-color: var(--grey-200);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min(100% - 2rem, 375px);
  margin: 0 auto;
}

.app__title {
  font-size: 1.5rem;
  letter-spacing: 10px;
  width: 120px;
  margin: 2.25rem 2.5rem;
  color: var(--green-900);
  overflow-wrap: break-word;
  text-align: center;
}

.calculator {
  background-color: var(--white);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.form-group {
  margin: 1rem 0;
}

.form-group__label {
  font-size: 1rem;
  color: var(--grey-400);
}

.form-group__input-wrapper {
  position: relative;
  margin: 0.5rem 0;
}

.form-group__icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.form-group__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1.5rem 0;
}

.form-group__input {
  width: 100%;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--grey-50);
  text-align: right;
  padding: 0.5rem 1rem;
  color: var(--green-900);
}

.form-group__input:focus {
  border: none;
  outline: 1px solid var(--green-400);
}

.form-group__option {
  border: none;
  outline: none;
  color: var(--grey-50);
  background-color: var(--green-900);
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form-group__option:hover {
  background-color: var(--green-400);
}

.results {
  background-color: var(--green-900);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
}

.results__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.results__label {
  color: var(--grey-200);
  display: flex;
  flex-direction: column;
}

.results__per {
  color: var(--green-400);
}

.results__value {
  font-size: 2rem;
  color: var(--green-400);
}

.results__reset {
  background-color: var(--green-400);
  color: var(--green-900);
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  cursor: pointer;
}
